@font-face {
  font-family: "PTSans";
  src: local("PTSans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

:root {
  --secondary: #766357;
  --secondary-light-dark: #604E43;
  --secondary-dark: #503E33;
  --primary: #81B3D2;
  --primary-light-dark: #669EC0;
  --primary-dark: #5496BD;
  --default: #000000;
  --contrast: #FFFFFF;
  --light-blue: #81B3D3;
  --dark-orange: #766458;
  --gray: #EEEEEE;
  --light-gray: #F2F2F2;
  --dark-gray: #A9A9A9;
  --dark-red: #231F20;
  --p-color: #333333;
  --rating-color: #666666;
}


.page-body {
  align-content: start;
  margin: 0;
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: var(--light-gray);
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--contrast);
}

img {
  max-width: 100%;
  height: 100%;
}

.logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
  outline: none;
}

.page {
  height: 100%;
}

.page-header {
  position: relative;
  width: 100%;
}


.link {
  color: var(--default);
}

.link:hover,
.link:focus {
  color: var(--primary)
}

.link:active {
  color: rgba(0, 20, 0, 0.3)
}

.btn {
  display: inline-block;
  border: 0;
  font-family: "PTSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.btn--small {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 16px;
  padding-left: 17px;
  font-size: 14px;
  line-height: 21px;
}

.btn--big--blue {
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 182px;
  padding-left: 181px;

}

.btn--primary {
  background: var(--primary);
  color: var(--contrast);
}

.btn--primary:hover,
.btn--primary:focus {
  background: var(--primary-light-dark);
}

.btn--primary:active {
  background: var(--primary-dark);
  color: rgba(255, 255, 255, 0.3)
}

.btn--secondary {
  background: var(--secondary);
  color: var(--contrast);
}

.btn--secondary:hover,
.btn--secondary:focus {
  background: var(--secondary-light-dark);
}

.btn--secondary:active {
  background: var(--secondary-dark);
  color: rgba(255, 255, 255, 0.3);
}

.page-nav__list {
  list-style: none;
  padding-left: 77px;
  padding-right: 72px;
  margin: 0;
  display: flex;
  width: calc(100% - 149px);
}

.page-nav__item {
  width: 25%;
}

.page-nav__link {
  display: block;
  font-weight: 700;
  color: var(--default);
  font-size: 14px;
  line-height: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-nav__item:nth-child(3),
.page-nav__item:nth-child(4) {
  text-align: right;
}

.current {
  text-align: right;
}


.main-info h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--default);
}

.main-info p {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--p-color);
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.feature-list__item {
  display: flex;
  height: 256px;
  align-items: center;
}

.feature-list__item:nth-child(4),
.feature-list__item:nth-child(5),
.feature-list__item:nth-child(6) {
  background-color: var(--gray);
  box-sizing: border-box;
  width: calc(100% / 3);
  flex-direction: column;
  
}

.future_block {
  width: 33.333%;
  background-color: var(--light-blue);
  color: var(--contrast);
  text-align: center;
  height: 100%;
}

.feature-list h2 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}


.booking {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 568px;
  padding: 55px;
  background-color: #fff;
}

.booking .btn--secondary {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 120px;
  padding-left: 120px;
  width: 568px;
  box-sizing: border-box;
}

.booking .btn--primary {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 182px;
  padding-left: 181px;
  box-sizing: border-box;

}


.settings-form {
  background-color: var(--primary);
  width: 100%;
  display: flex;
  min-height: 217px;
}


.infrastructure {
  flex-grow: 1;
}

.type {
  flex-grow: 1;
}

.value {
  flex-grow: 2;
}


.people {
  display: flex;
}

.info-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  list-style: none;
  column-gap: 20px;
  margin: 0;
  text-align: center;
  min-height: 330px;
}

.info-list p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-top: 25px;
}



.blue .booking h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--contrast);
}

.booking label {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--default);
}

fieldset label {
  color: var(--contrast);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

fieldset p {
  color: var(--contrast);
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.found p {
  color: var(--p-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.found h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.rating {
  color: var(--rating-color);
}

::placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--default);
}

.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel {
  display: flex;
  padding-left: 73px;
  padding-right: 73px;
  align-items: center;
}

.hotel img {
  margin-right: 29px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.hotel__description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23.5px;
  margin-top: 30px;
}

.hotel__rating {
  margin: 0 0 0 auto;
}

.hotel__description .link {
  width: 100%;
}

.hotel__detail {
  margin-right: 6px;
}

.hotel__title {
  margin: 0;
}


.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--contrast);
  opacity: o.9;
  width: 100%;
}

.main-footer__list {
  list-style: none;
}

.footer-link {
  display: block;
  height: 100%;
}

.contacts {
  margin-left: 117px;
  margin-top: 23px;
  width: 251px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--default);
  text-align: left;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 36px;
  width: 150px;
}

.social-list img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.social-list__item {
  content: "";
  position: relative;
  width: calc(1/3*100% - (1 - 1/3)*6px);
  background-color: var(--light-blue);
  height: 48px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.footer-copyright a {
  margin-left: 8px;
}
